option_settings:
  aws:elasticbeanstalk:application:environment:
    PORT: 3000
    NEXT_PUBLIC_API_BASE_URL: https://mcp-host.eba-7wrrrdqc.us-west-2.elasticbeanstalk.com
    NEXT_PUBLIC_USER_MANAGEMENT_API_BASE_URL: https://joyful-treasure-28779b36f6.strapiapp.com
aws:elasticbeanstalk:container:nodejs:
    NodeCommand: "npm start"